* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.container {
  height: 100vh;
  max-width: 100%;
  margin: 0;
  background-color: #ffffff;
  font-size: 16px;
  display: flex;
}

.leftside {
  width: 34%;
  background: center/cover no-repeat url(../assets/images/background_image.png), linear-gradient(115deg, #C468FF 0%, #6E91F6);
  display: grid;
  grid-template: "a" 1fr "b" 2fr "c" 1fr;
}
.leftside p {
  color: white;
}
.leftside .logo-container {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.leftside .logo-container img {
  height: 80px;
  width: 80px;
}
.leftside .logo-container p:first-of-type {
  font-size: 30px;
}
.leftside .logo-container p:nth-of-type(2) {
  width: 260px;
  text-align: center;
}
.leftside .logo-container .store-button-container {
  width: 260px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.leftside .logo-container .store-button-container a {
  height: 35px;
  width: 100px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftside .logo-container .store-button-container a img {
  height: fit-content;
}
.leftside .social-links-container {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.leftside .social-links-container .social-links {
  display: flex;
  gap: 16px;
  justify-content: center;
  opacity: 50%;
}
.leftside .social-links-container .social-links .social-button > img {
  height: 40px;
  width: 40px;
}
.leftside .social-links-container p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.rightside {
  height: 100%;
  width: 66%;
  display: flex;
  flex-direction: column;
}
.rightside header {
  flex: 0 1 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 40px;
  gap: 18px;
}
.rightside header a {
  font-size: 14px;
  font-weight: 400;
}
.rightside header button {
  height: 40px;
  width: 120px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 10px;
  font-weight: 400;
}
.rightside form {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.rightside form h1 {
  font-size: 40px;
}
.rightside form .input-container {
  height: 42px;
  width: 288px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.rightside form .input-container label {
  height: 24px;
  width: 24px;
  margin-right: 22px;
  display: block;
}
.rightside form .input-container label img {
  height: 22px;
  width: 22px;
}
.rightside form .input-container input {
  height: 26px;
  border: none;
}
.rightside form .input-container input::placeholder {
  color: black;
  font-weight: 400;
}
.rightside form a {
  font-size: 12px;
  font-weight: 400;
}
.rightside form button {
  height: 60px;
  width: 288px;
  margin-top: 41px;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  background: linear-gradient(115deg, #C468FF 0%, #6E91F6);
}

/*# sourceMappingURL=main.css.map */
